<div fxLayout="row" fxLayoutAlign="end center" >
    <button (click)="open()">create new</button>
    </div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="dateDebut">
        <th mat-header-cell *matHeaderCellDef> dateDebut </th>
        <td mat-cell *matCellDef="let element"> {{element.dateDebut}} </td>
      </ng-container>
      
      <ng-container matColumnDef="dateFin">
        <th mat-header-cell *matHeaderCellDef> dateFin </th>
        <td mat-cell *matCellDef="let element"> {{element.dateFin}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="lieu">
        <th mat-header-cell *matHeaderCellDef> lieu </th>
        <td mat-cell *matCellDef="let element"> {{element.lieu}} </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element">
          <button (click)="open1(element.id)"> 
            <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element"> 
          <button > 
            <!-- pas de string interpolation car il est un paramètre de la methode -->
            <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
          </button> 
        </td>
      </ng-container>
  
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
