<mat-dialog-content [formGroup]="form">
    <mat-form-field appearance="fill">
        <mat-label>title</mat-label>
        <input matInput placeholder="title" formControlName="title">
      </mat-form-field>

      <mat-form-field>
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input [formGroup]="form" [rangePicker]="picker">
          <input matStartDate formControlName="dateDebut" placeholder="Start date">
          <input matEndDate formControlName="dateFin" placeholder="End date">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>
      
 
        }
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>lieu</mat-label>
        <input matInput placeholder="lieu" formControlName="lieu">
      </mat-form-field>

      <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">Close</button>
        <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
      </mat-dialog-actions>

</mat-dialog-content>


